@font-face {
  font-family: 'iconfont';  /* project id 194476 */
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg');
}

.sear{
	font-family: 'iconfont';
}
.sear:before{
	content: '\e651';
}
.hot{
	font-family: 'iconfont';
}
.hot:before{
	content: '\e6a8';
}
.del{
	font-family: 'iconfont';
}
.del:before{
	content:'\e650';
}
